.message-bubble {
  width: fit-content;
  padding: 12px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.own-bubble {
  background: blueviolet;
  color: white;
}

.txt-secondary {
  font-size: 8px;
  opacity: 0.5;
}

.messenger {
  width: 1000px;
  height: 600px;
  border: 1px solid;
  margin: 50px;
  display: flex;
}

.chats_list {
  width: 30%;
  height: 100%;
  border-right: 1px solid;
}

.chat {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat_header,
.chat_input {
  width: 100%;
  height: 50px;
  border: 1px solid;
}

.chat_messages {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  border: 1px solid;
  justify-content: flex-end;
}

.chat_item {
  border: 1px solid;
  padding: 16px;
}

.active_chat {
  background: #4c4c4c21;
}
