:root {
  --accent-color: #000000;
  --accent-color--hover: #6c6c6c;
  --accent-color--active: #000000;
  --padding-btn: 16px 18px;
  --radius-btn: 16px;

  --secondary-color: #f3f4f7;
  --secondary-color--hover: #e8e9ed;
  --secondary-color--active: #d3d3d6;
}

body {
  font-family: "Suisse Intl", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.message-bubble {
  width: fit-content;
  /* border: 1px solid #cccccc96; */
  /* border-radius: 50px; */
  /* background: #eceef0; */
  /* padding: 8px 12px; */
  padding: 10px;
  border-radius: 20px;
  padding-right: 50px;
  border: 1px solid #eceef0;

  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.message-bubble--time {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  opacity: 0.4;
  margin-right: -40px;
  margin-top: -12px;
  opacity: 0.5;
}

.emoji-bubble {
  font-size: 38px;
  background: transparent !important;
  /* border: 0; */
  padding: 0px;
  padding-right: 50px;
}

.message_images {
  /* display: flex;
  gap: 4px; */
  display: grid;
  gap: 4px;
  max-width: 300px;
}
/* .collage-1 {
  grid-template-columns: auto;
}
.collage-2 {
  grid-template-columns: auto auto;
}
.collage-3 {
  grid-template-columns: 1fr 1fr;
} */

.message_images img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0px 0px 1px 0px black;
}

.txt-secondary {
  font-size: 13px;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
}

.messenger {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  max-width: 1200px;
  border: 1px solid #e8e8e8;
  margin: 50px;
  display: flex;

  border-radius: 12px;
  overflow: hidden;
  font-size: 14.5px;

  background: white;
  border-radius: 24px;
  /* box-shadow: 0 2px 10px 0px #0000000f; */
}

.chats_left {
  width: 40%;
  height: 100%;
  border-right: 1px solid #e8e8e8;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #f8f9fb;
}

.chats_left--header {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  gap: 16px;
}

.chat_right {
  width: 100%;
}

.chats_list {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: #e8e8e8; */
}
.chat_header,
.chat_input {
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
  background: white;
  align-items: center;
}

.chat_header--info {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}
.chat_header--text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chat_messages {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  /* background: white; */
  /* background: #e8e8e8; */
  padding: 20px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* .flex-end {
  justify-content: flex-end;
} */
.chat_item {
  padding: 10px;
  border-radius: 12px;
  transition: 0.2s;
  display: flex;
  gap: 12px;
  align-items: center;
}

.chat_item:hover {
  background: #4c4c4c21;
}

/* .active_chat { */
/* background: #4c4c4c21; */
/* background: #2687d2 !important;
  color: white;
}
.active_chat .online {
  color: rgba(255, 255, 255, 0.724);
}
.active_chat .a-online {
  border: 2px solid #2787d2;
  box-shadow: 0px 0px 0px 2px #ffffff8a;
} */

.active_chat {
  background: #00000015 !important;
}

.menu_tabs {
  display: flex;
  /* padding: 10px 0; */

  align-items: center;
  padding: 0 10px;
  background: white;
}

.gray_tabs {
  padding: 3px;
  background: #00000015;
  border-radius: 12px;
  margin-bottom: 16px;

  border-radius: 50px;

  margin: 0 8px;
  margin-bottom: 10px;
}

.gray_tabs .active_tab {
  background: white;
}

.navigate {
  height: 56px;
  border-top: 1px solid #e8e8e8;
  margin: -10px;
}
.menu_tab {
  border: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  color: #0000008a;
}
.active_tab {
  background: #4c4c4c21;
  color: #000000;
}

input {
  padding: 12px;
  border-radius: 20px;
  font-size: 14px;
  border: 0;
}

.chat_input--parent {
  border: 1px solid #e8e8e8;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 50px;
}

.w-100 {
  width: 100%;
}

button {
  padding: 12px 16px;
  background: var(--accent-color);
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 15px;

  transition: 0.2s ease;
  padding: 16px 26px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.r-12 {
  border-radius: 12px !important;
}

.message_input {
  padding: 10px;
}

.btn-icon,
.btn_round {
  background: transparent;
  padding: 9px;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  transition: 0.2s;
}
.btn-icon--white {
  background: white;
}

.primary-btn {
  background: var(--accent-color);
}
.primary-btn:hover {
  background: var(--accent-color--hover);
}
.primary-btn:active {
  background: var(--accent-color--active);
}

.btn-secondary {
  background: var(--secondary-color);
  color: #000000;
}

.btn-secondary:hover {
  background: var(--secondary-color--hover);
}
.btn-secondary:active {
  background: var(--secondary-color--active);
}

.btn-secondary img {
  width: 16px;
  height: 16px;
}

button:hover {
  background: var(--accent-color--active);
}
.btn-remove-img {
  position: absolute;
  right: 8px;
  top: 8px;
  background: #ffffff;
  width: 24px !important;
  height: 24px !important;
  padding: 5px;
}

.chat_form {
  display: flex;
  gap: 8px;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  transition: 0.4s;
  border-radius: 8px;
  cursor: pointer;
}

.message-own {
  flex-direction: row-reverse;
}

.message-own .message-bubble {
  background: #eceef0;
  /* border-color: #2687d2; */
  color: #000000;
}

.message:hover {
  background: #4c4c4c0d;
}

.message:active,
.chat_item:active {
  background: #4c4c4c1b;
}

.message_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.message_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message_preview {
  width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  color: #808080;
}
/* yf */

.a-50 {
  /* /* width: 50px; */
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #e8e8e8;

  aspect-ratio: 1/1;
  background-size: cover;
  border: 2px solid #ffffff transparent;
}

.a-36 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #e8e8e8;
  aspect-ratio: 1/1;
  background-size: cover;
}
.a {
  border-radius: 50%;
  overflow: hidden;
  background: #e8e8e8;
  background-size: cover;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b1b1b19b;
  flex-shrink: 0;
}

.a-120 {
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  background: #e8e8e8;

  background-size: cover;
  aspect-ratio: 1/1;
}

.message_right {
  width: 100%;
}

.input--search {
  width: 100%;
  box-sizing: border-box;
  background: #00000015;
  border: 0 !important;
  padding: 12px 16px 12px 42px;
  border-radius: 50px;
  /* margin-bottom: 8px; */
  background-image: url("sources/icons/search_icon.svg");
  background-repeat: no-repeat;
  background-position: 14px 12px;
  transition: 0.2s;
}
.input--search:focus {
  background-color: transparent;
  box-shadow: 0 0 0 1px #c1c1c1 inset;
}

.settings_profile {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;
  padding: 28px;
}

hr {
  border-top: 1px solid #e8e8e8;
  border-bottom: 0;
  width: 100%;
  margin: 0;
}

.gap-5 {
  gap: 5px !important;
}

.colors {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.color_badge {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 2px solid #ffffff;
}

.selected_color {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 2px #2787d2;
}

#root {
  /* display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center; */

  height: 100vh;
  background: #eceef0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats_right {
  width: 100%;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_w-center {
  display: flex;
  align-items: center;
}

.flex_h-center {
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.chat_profile {
  height: 100%;
  gap: 12px;
}

.cards_container {
  width: 100%;
  max-width: 750px;
  padding: 20px;
  box-sizing: border-box;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.card {
  padding: 16px;
  box-sizing: border-box;
  background: white;
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.toggle-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.card_title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: gray;
  margin-top: 20px;
  margin-bottom: 8px;
}

.card_input {
  padding: 5px;
}

.online {
  color: #2787d2;
  opacity: 1;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
}

.a-online {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 2px #2787d2;
}

.emoji_picker {
  box-sizing: border-box;
  display: flex;
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: 180px;
}
.EmojiPickerReact {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.message-deleted {
  font-style: italic;
  color: #2787d2;
  opacity: 1;
}

/*Context menu*/
.context_menu {
  display: block;
  position: absolute;
  background: white;
  padding: 8px;
  border-radius: 12px;
  z-index: 1;
  margin-top: -40px;
  box-shadow: 0 3px 10px -3px #00000026;
  border: 1px solid #e8e8e882;
}
.context_menu--item {
  border-radius: 8px;
  padding: 8px 12px;
  min-width: 100px;
  transition: 0.2s;
}
.context_menu--item:hover {
  background: #e8e8e8;
}
.context_button {
  background: #00000014 !important;
  color: #2787d2;
  height: 10px;
  width: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.message_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}
.message:hover .context_button {
  opacity: 1;
  pointer-events: all;
}
.chat_item:hover .context_button {
  opacity: 1;
  pointer-events: all;
}

.profile_photos {
  gap: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile_photos--item {
  background: #e8e8e8;
  aspect-ratio: 1 / 1;
  width: 100%;
  background-size: cover;
}

.profile_name {
  margin: 5px;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}
.card input {
  border: 0;
  /* border-radius: 0; */
  outline: none;
}

.input_description {
  margin-top: 10px;
  margin-bottom: 30px;
}

.profile_buttons {
  display: flex;
  gap: 4px;
  margin-top: 16px;
}

.m-0 {
  margin: 0;
}

.posts {
  padding: 0;
  gap: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  transition: 0.2s ease;
}

.separator {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.post:hover {
  background: #d3d3d357;
}

.no_posts {
  padding: 50px;
  text-align: center;
}

/*LOGIN FORM*/

.login_form {
  width: 425px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid #e8e8e8;
  border-radius: 40px;
}

.login_form--top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0;
  box-sizing: border-box;
  text-align: center;
}

/* .login_bg {
  height: 100vh;
  background: #eceef0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.input--main {
  border: 1.2px solid #00000029 !important;
  border-radius: var(--radius-btn);
  padding: var(--padding-btn);
}

.input--main:focus {
  border: 1.2px solid #000000 !important;
  border-radius: var(--radius-btn);
  padding: var(--padding-btn);
}

.button-accent {
  background: var(--accent-color);
  color: white;
  border-radius: var(--radius-btn);
  padding: var(--padding-btn);
  border: 0;
  transition: 0.2s ease;
}

.login_form h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  /* margin-bottom: 20px; */
}
.align-center {
  text-align: center;
}

.login_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*IMAGE UPLOADER*/

.wrapper {
  width: 80%;
  height: 80%;
  margin: 40px auto;
}

.drop {
  width: 100%;
  height: 200px;
  border: 3px dashed #dadfe3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  width: 500px;
  height: 170px;
  color: #8e99a5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop:hover .cont i {
  transform: translateY(-5px);
}
.drop .cont i {
  font-size: 400%;
  color: #8e99a5;
  position: relative;
  transition: transform 0.5s;
}
.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #a4aebb;
}
.drop .cont .browse {
  margin: 5px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#loadedContent {
  width: 100%;
  height: 100%;
  color: #333;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  display: block;
  overflow-y: scroll;
  z-index: 2;
  background: white;
  padding: 30px;
  display: none;
  text-align: left;
}
img,
canvas,
video {
  width: 100%;
}
#progress-bar {
  width: 100%;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}
.images_preview {
  display: flex;
  gap: 4px;
  padding: 10px;
  padding-bottom: 0;
}
.image_container {
  position: relative;
}
.image_preview {
  height: 100px;
  width: auto;
  border-radius: 12px;
  box-shadow: 0px 0px 1px 0px black;
}
.image_delete {
  right: 10px;
  top: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000057;
  width: 8px;
  height: 8px;
  position: absolute;
}
.loader_input {
  display: none;
}

.display-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .messenger {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .chats_left {
    width: 100%;
    border-right: none;
  }
}

/*switcher*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2787d2;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  transform: translateX(15px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.h-full {
  /* height: calc(100% - 110px);
  overflow: hidden; */
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

/* Navigation tabs */
.nav_tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav_tabs--tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  opacity: 0.4;
  transition: 0.2s;
  cursor: pointer;
}
.nav_tabs--tab:hover {
  opacity: 0.6;
}
.nav_tabs--tab:active {
  transform: scale(0.9);
}
.nav_tabs--tab-active {
  opacity: 1 !important;
  /* color: red; */
}
.nav_tabs--tab img {
  width: 24px;
  stroke: currentColor; /* Для lucide / outline иконок */
  fill: currentColor;
}
.nav_tabs--tab span {
  font-size: 12px;
}

.profile_overlay_card {
  /* position: absolute;
  inset: 0; */
  background: white;
  border-radius: 0;
  box-shadow: none;
  z-index: 10;
  height: 100%;
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
}

.profile_overlay_card.profile_entering {
  border-radius: 16px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  height: 100%;
  overflow: hidden;
}

.profile_card_container {
  background: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* position: absolute; важно для наложения */
  top: 0;
  left: 0;
  will-change: border-radius, box-shadow, transform, opacity;
}

.messages_separator {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: sticky;
  top: 0px;
}

.date {
  padding: 8px 12px;
  /* border: 1px solid #0000001a; */
  width: fit-content;
  border-radius: 50px;
  font-size: 12px;
  background: #ffffff61;
  color: rgba(0, 0, 0, 0.601);
  backdrop-filter: blur(20px);
}

.bg-gray {
  background: #f8f9fb;
}
.profile_header {
  background: #f8f9fb;
}

.empty_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  min-height: 240px;
}
.empty_state--emoji {
  font-size: 48px;
}
.empty_state--title {
  opacity: 0.5;
}

.vertical_tab {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 16px;
  transition: 0.2s ease;
}
.vertical_tab--active {
  background: #0000000f;
}
.vertical_tab--icon {
  background: #0000000f;
  border-radius: 12px;
  width: 36px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical_tab--icon img {
  width: 16px;
}

/* Скрываем стандартный input */
input[type="file"] {
  display: none;
}

/* Кастомный лейбл-кнопка */
.file-label {
  transition: 0.2s ease;
  padding: 16px 26px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: var(--secondary-color);
  color: #000000;
}
